#topnav {
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;

  background-color: transparent;

  font-family: sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.nav-link {
  display: inline-block;
  width: 100px;
  height: 55px;

  color: White;

  text-align: center;
  line-height: 55px;

  text-decoration: none;
}

#logo {
  width: 120px;

  background-color: RoyalBlue;

  font-weight: bold;
}

#about {
  position: absolute;
  top: 0;
  right: 5px;
}

.text {
  position: absolute;
  font-family: sans-serif;
  color: White;
}

#title {
  top: 35%;
  left: 30%;
  font-weight: bold;
  font-size: 64px;
}

#subtitle {
  top: 45%;
  left: 10%;
  font-size: 36px;
}

body {
  margin: 0;
  padding: 0;
}

.bg {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background: url('galaxy.jpeg') no-repeat center center;
  background-size: cover;
}